@import "tailwindcss";
@plugin "daisyui";

select {
    @apply bg-black;
}

label {
    @apply text-green-100;
}

.bg-img {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        url("/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}